<h1>Bienvenido</h1>

<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo: {{email}}</p>
<p>Edad: {{age}}</p> 

<a href="/api/sessions/logout" role="button">Logout</a>

<a href="/productos" role="button">Productos</a>

<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
