<article>
  <h1>Cambiar Contraseña</h1>
  {{#if error }}
    <p>{{error}}</p>
  {{/if}}
  <form action="/api/sessions/reset-password" method="POST">
    <input type="text" name="email" placeholder="Correo">
    <input type="password"  name="password" placeholder="Contraseña">
    <p>Ir a <a href="/login">inicio</a></p>
    <button type="submit">Cambiar contraseña</button>
  </form>
</article>

 <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">