<h1>Productos</h1>

<table id="Carri">
  <tr>
    <th>ID</th>
    <th>Productos</th>
  </tr>
  {{#each Products}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.Productos}}</td>
    </tr>
  {{/each}}
</table>