<h1>Chat Web</h1>

<ul id="list-messages">
  {{#each mensajes}}
    <li>
      <p><strong>{{this.nombre}}</strong>: {{this.mensaje}}</p>
    </li>
  {{/each}}
</ul> 

<form id="form-message">
  <input type="text" name="fullname" id="input-fullname" placeholder="Ingresa tu nombre" required>
  <input type="text" name="message" id="input-message" placeholder="Ingresa mensaje..." required>
  <button type="submit">Enviar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="public/js/script.js"></script>